/*
CSS / Grid Layout
 */

#search {
  width: 33%;
  height: 40px;
  margin: 20px 33%;
  border: 2px solid lightgrey;
  border-radius: 5px;
}

::placeholder {
  font-size: 1rem;
  color: #777;
  padding-left: 5px;
}

#gallery {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: repeat(3, 200px);
  grid-gap: 20px;
  margin: 20px 15% 25px 15%;
}
