/*
CSS / Grid Layout
 */

#search {
  width: 33%;
  height: 40px;
  margin: 20px 33%;
  border: 2px solid lightgrey;
  border-radius: 5px;
}

::placeholder {
  font-size: 1rem;
  color: #777;
  padding-left: 5px;
}

#gallery {
  max-width: 800px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  grid-gap: 25px;
  margin: 20px 20% 25px 19%;
  grid-template-areas:
    "thumbnail-1 thumbnail-2 thumbnail-3 thumbnail-4"
    "thumbnail-5 thumbnail-6 thumbnail-7 thumbnail-8"
    "thumbnail-9 thumbnail-10 thumbnail-11 thumbnail-12";
}

#thumbnail-1 {
  grid-area: img-1;
}

#thumbnail-2 {
  grid-area: img-2;
}

#thumbnail-3 {
  grid-area: img-3;
}

#thumbnail-4 {
  grid-area: img-4;
}

#thumbnail-5 {
  grid-area: img-5;
}

#thumbnail-6 {
  grid-area: img-6;
}

#thumbnail-7 {
  grid-area: img-7;
}

#thumbnail-8 {
  grid-area: img-8;
}

#thumbnail-9 {
  grid-area: img-9;
}

#thumbnail-10 {
  grid-area: img-10;
}

#thumbnail-11 {
  grid-area: img-11;
}

#thumbnail-12 {
  grid-area: img-12;
}
